.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 65vh;
  padding: 40px 20px;

  .ant-result-title {
    margin-top: 24px;
    font-weight: bold;
  }

  .ant-result-extra {
    .ant-btn {
      width: 100%;
    }
  }

  @media screen and (max-width: 576px) {
    padding: 20px 0;
    min-height: 60vh;

    .ant-result-extra {
      margin-top: 32px;

      .ant-btn {
        width: 100%;
      }
    }
  }
}