@import '../../styles/variables.less';

.content-actions-item--edit {
  color: @primary-color !important;

  .anticon {
    color: @primary-color !important;
  }
}

.content-actions-item--delete {
  color: @primary-color !important;
  .anticon {
    color: @primary-color !important;
  }
}

.content-actions-item--report {
  color: #ff4d4f !important;

  .anticon {
    color: #ff4d4f !important;
  }
}
