@import '../../styles/variables.less';

.container-report {
  &__options {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
  }
}

.content-actions-item--edit {
  color: @primary-color !important;

  .anticon {
    color: @primary-color !important;
  }
}

.content-actions-item--delete {
  color: @primary-color !important;

  .anticon {
    color: @primary-color !important;
  }
}

.content-actions-item--report {
  color: #ff4d4f !important;

  .anticon {
    color: #ff4d4f !important;
  }
}
