.header__user-info {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .ant-avatar,
  .ant-avatar img,
  img {
    border-radius: 8px !important;
  }

  &__avatar__badge {
    position: absolute;
    bottom: -4px;
    left: 22px;
    height: 16px;
    line-height: 14px;
    border-radius: 8px;
    border: 2px solid #fff;
    font-size: 8px;
    text-align: center;
    color: #fff;
    z-index: 1;
  }
 }