@import '../../styles/variables.less';

.list-header-filters {
  &__header, &__inputs {
    background-color: #fafafa;
    padding: 24px;
    border-radius: 16px;
  }

  &__header {
    > div.ant-row {
      > div.ant-col {
        > h1 {
          margin: 0;
        }
        &:nth-child(2n) {
          text-align: right;
          @media only screen and (max-width: @xs) {
            text-align: end;
          }
        }
      }
    }

    @media (max-width: 552px) {
      > .ant-row {
        > .ant-col {
          flex: 0 0 100%;
          max-width: 100%;
          text-align: center;

          .ant-btn {
            width: 100%;
            justify-content: center;
          }
        }
      }
    }

    @media (max-width: 480px) {
      > .ant-row {
        margin-left: 0 !important;
        margin-right: 0 !important;
      }

      > .ant-row > .ant-col {
        padding-left: 0 !important;
        padding-right: 0 !important;
      }
    }
  }

  &__inputs {
    margin-top: 20px;

    @media (max-width: 480px) {
      > .ant-row {
        margin-left: 0 !important;
        margin-right: 0 !important;
      }

      > .ant-row > .ant-col {
        padding-left: 0 !important;
        padding-right: 0 !important;
      }
    }
  }
}
