@import '../../../../styles/variables.less';

.locations-search-container {
  padding: 24px;
  width: 100%;
  box-sizing: border-box;

  .locations-search {
    width: 100%;
  }

  .results-info {
    margin: 20px 0 16px 8px;
  }

  .ant-tabs {
    width: 100%;

    .ant-tabs-content {
      margin-top: 8px;
    }
  }
}

@media (max-width: @xs) {
  .locations-search-container {
    padding: 16px;

    .results-info {
      margin-left: 0;
      text-align: center;

      .ant-typography {
        font-size: 13px;
      }
    }
  }
}