.locations-list {
  padding: 24px;

  .list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    flex-wrap: wrap;
    gap: 16px;

    .title-wrapper {
      display: flex;
      align-items: center;
      gap: 16px;

      .anticon {
        font-size: 32px;
      }
    }

    .ant-typography {
      margin: 0;
    }
  }
}

@media (max-width: 768px) {
  
}