@import '../../../../styles/variables.less';

.locations-list {
  width: 100%;
  box-sizing: border-box;

  &__results {
    margin-top: 16px;
    padding-left: 24px;

    @media (max-width: @xs) {
      margin: 16px 0;
      padding-left: 0;
    }
  }

  &__content {
    margin-top: 16px;
    border-radius: 8px !important;

    .ant-tabs {
      width: 100%;

      .ant-tabs-nav {
        margin-left: 24px;
        margin-right: 24px;

        @media (max-width: @xs) {
          margin-left: 0;
          margin-right: 0;
        }
      }

      .ant-tabs-content {
        margin-top: 8px;
      }
    }
  }
}