@import '../../styles/variables.less';

.post-container {
  margin-top: 24px;
  border-radius: 8px;
  transition: all 0.2s ease;

  &:first-child{
    margin-top: 0;
  }

  .ant-card-body {
    padding: 24px;

    @media (max-width: @mobile-width) {
      padding: 16px;
    }
  }

  &--clickable {
    &:hover {
      border-color: @primary-color;
      box-shadow: 0 4px 12px fade(@primary-color, 15%);
    }
  }

  .post-container {
    margin-top: 24px;
  }

  .header-user-info-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .user-info-left {
    display: flex;
    align-items: center;
  }

  .user-avatar {
    margin-right: 12px;
    border-radius: 8px;
  }

  .user-info-text {
    display: flex;
    flex-direction: column;
  }

  .user-name-link {
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .user-name {
    margin: 0;
  }

  .post-date {
    font-size: 14px;
    color: #8c8c8c;
  }

  .user-info-actions {
    display: flex;
    align-items: center;
  }

  .delete-post-button {
    padding: 0;
    margin-right: 12px;
  }

  .edit-post-button {
    padding: 0;
  }

  .post-text-container {
    width: 100%;
    word-break: break-word;
    margin: 12px 0;
    font-size: 15px;
  }

  .post-actions-buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;

    >.ant-btn:first-child {
      padding: 0;
    }

    .btn-reply {
      color: @primary-color;
      border-color: @primary-color;
      background-color: transparent;
      padding: 0 16px !important;

      &:hover {
        color: fade(@primary-color, 80%);
        border-color: fade(@primary-color, 80%);
        background-color: fade(@primary-color, 5%);
      }

      @media (max-width: 445.60px) {
        width: 100% !important;
        margin-top: 8px;
      }
    }
  }

  .ant-comment-actions {
    li {
      width: 100%;
    }
  }
}