.user-profile-display {
  position: relative;
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;

  .ant-avatar {
    flex-shrink: 0;
  }
}

.user-profile-display-content {
  flex: 1;
  min-width: 0;
  padding-right: 132px;
  display: flex;
  flex-direction: column;
  div {
    margin: 0;
    word-break: break-word;
  }
}

.user-profile-display__actions {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  gap: 12px;
}

@media (max-width: 480px) {
  .user-profile-display {
    gap: 12px;
  }

  .user-profile-display-content {
    padding-right: 44px;

    div {
      font-size: 16px;
    }
  }

  .user-profile-display__actions {
    gap: 6px;
  }
}
