@import '../../../styles/variables.less';

.dashboard-layout-content {
  display: flex;
  text-align: start;
  justify-content: center;

  img {
    
    @media screen and (max-width: @mobile-width) {
      max-width: 90%;
    }
  }
}
