@import "../../styles/variables.less";

.header-base {
  position: fixed;
  width: 100vw;
  top: 0;
  padding: 0 calc((100vw - @desktop-width)/2);
  z-index: 100;
  box-shadow: 10px 0 10px rgb(0 0 0 / 20%);
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: @desktop-width) {
    padding: 0 40px;
  }

  @media screen and (max-width: 450px) {
    padding-left: 0;
    padding-right: 0;
  }

  &.auth {
    width: calc(100% - 200px);
    padding: 0 20px;
    right: 0;
    transition: all 0.2s;
    justify-content: flex-end;

    &.collapsed {
      width: 100%;

      @media screen and (min-width: @mobile-width) {
        width: calc(100% - 80px);
      }
    }
  }

  ul.ant-menu {
    border: 0;
    border-bottom: 0;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;

    .profile-menu {
      margin-right: 0;
      padding: 0 16px;
      display: flex;
      align-items: center;
      justify-content: center;

      .anticon {
        padding: 0 14px;
        margin: 0;
        font-size: 22px;
        color: #1677ff;
      }
    }
  }

  .logo-container {
    max-width: 200px;
    height: 90%;
    display: flex;

    @media screen and (max-width: @mobile-width) {
      max-width: 50%;
    }

    img {
      max-width: 100%;
      height: auto;
      margin-top: -5px;
    }
  }
}

.profile-menu-popup {
  .ant-menu-sub {
    min-width: 232px;
  }
}