.legal-content {
  &__section {
    margin-bottom: 24px;

    &:last-child {
      margin-bottom: 0;
    }

    h4.ant-typography {
      text-transform: capitalize;
      margin-bottom: 16px;
    }

    .ant-typography {
      margin-bottom: 1em;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}