.terms-content {
  &__section {
    margin-bottom: 24px;

    &:last-child {
      margin-bottom: 0;
    }

    h4.ant-typography {
      text-transform: capitalize;
      margin-bottom: 16px;
    }

    .ant-typography {
      margin-bottom: 1em;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__list {
    margin-left: 24px;
    margin-top: 8px;
    margin-bottom: 16px;
    list-style-type: disc;
  }

  &__list-item {
    margin-bottom: 8px;
    line-height: 1.5;
  }

  &__highlight {
    font-weight: 600;
  }
}