.posts {
  padding: 0 20px;
  > h1 {
    margin-top: 0;
  }

  .delete-post-button {
    position: "absolute";
    top: 0px;
    right: 0px;
    height: auto;
    padding-top: 0;
    padding-bottom: 0;
  }
}
