.title-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-input {
  background-color: #fafafa;
  padding: 16px;
  border-radius: 16px;

  .search-people-input {
    width: 70%;
  }

  .local-select {
    width: 30%;
    height: 32px;
  }
}