.legal-acceptance-modal {
  .ant-modal-header {
    text-align: center;
  }

  .legal-acceptance-modal__content {
    width: 100%;
  }

  .legal-acceptance-modal__accept-button {
    width: 100%;
  }
}
