@import '../../../styles/variables.less';

.editor-form {
  margin-top: 12px;

  &__text-area {
    resize: none !important;
    padding: 24px;
    border-radius: 8px;
  }

  &__footer-item {
    margin-bottom: 0;
  }

  &__actions {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-bottom: 24px;
  }

  .ant-form-item-label{
    padding-bottom: 12px;
    padding-left: 24px;
  }

  &__btn {
    &--cancel {
      color: @primary-color;
      border-color: @primary-color;
      background-color: transparent;

      &:hover {
        color: fade(@primary-color, 80%);
        border-color: fade(@primary-color, 80%);
        background-color: fade(@primary-color, 5%);
      }
    }
  }

  &--post {
    .ant-form-item-label {
      padding-bottom: 16px;

      label {
        font-weight: 600;
        color: @primary-color;
      }
    }
  }
}