@import '../../../styles/variables.less';

.editor-form {
  margin-top: 12px;

  .ant-form-item:last-child {
    margin-bottom: 0;
  }

  .post-actions-container {
    margin-bottom: 12px;
    display: flex;
    justify-content: end;
    align-items: center;
  }

  &.editor-post {
    .ant-form-item-label {
      margin-left: 16px;

      label {
        font-weight: 600;
        color: @primary-color;
      }
    }
  }

  .btn-cancel-pill {
    color: @primary-color;
    border-color: @primary-color;
    background-color: transparent;

    &:hover {
      color: fade(@primary-color, 80%);
      border-color: fade(@primary-color, 80%);
      background-color: fade(@primary-color, 5%);
    }
  }
}