@import '../../../styles/variables.less';

.editor-form {
  margin-top: 12px;

  &__text-area {
    resize: none !important;
    overflow-y: auto !important;
    border: none !important;
    border-bottom: 1px solid #f0f0f0 !important;
    box-shadow: none !important;
    padding: 16px 16px 8px 16px !important;
    height: 125px !important;
    max-height: 125px !important;
    background-color: #fafafa !important;

    &::-webkit-scrollbar {
      width: 6px;
      cursor: default;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      cursor: pointer;

      &:hover {
        background-color: rgba(0, 0, 0, 0.2);
        cursor: pointer;
      }
    }
  }

  &__custom-container {
    border: 1px solid #d9d9d9;
    border-radius: 8px;
    background-color: #fafafa;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: border-color 0.3s;

    &:focus-within {
      border-color: @primary-color !important;
      box-shadow: 0 0 0 2px fade(@primary-color, 20%);
    }
  }

  &__emoji-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 12px 8px 12px;
    background-color: #fafafa;
    cursor: default;

    .editor-form__word-count {
      padding-right: 8px;
      font-weight: 700;
      user-select: none;
    }
  }

  &__footer-item {
    margin-bottom: 0;
  }

  &__actions {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-bottom: 24px;
  }

  .ant-form-item-label,
  .ant-form-item-explain-error {
    margin: 12px 0;
    padding-left: 24px;
  }

  .ant-btn {
    display: inline-flex !important;
    align-items: center !important;
    justify-content: center !important;
    gap: 6px;

    .anticon {
      margin: 0 !important;
      display: inline-flex;
      align-items: center;
    }

    >span {
      line-height: 1;
      display: inline-flex;
      align-items: center;
    }
  }

  &__btn {
    &--cancel {
      color: @primary-color;
      border-color: @primary-color;
      background-color: transparent;

      &:hover {
        color: fade(@primary-color, 80%);
        border-color: fade(@primary-color, 80%);
        background-color: fade(@primary-color, 5%);
      }
    }
  }

  &--post {
    .ant-form-item-label {
      label {
        font-weight: 600;
        color: @primary-color;
      }
    }
  }
}