.people-search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 0 20px;
  .people-search-title {
    width: 100%;
    margin-bottom: 16px;
  }
  .people-search-input {
    display: flex;
    width: 100%;
    justify-content: start;
    align-items: center;
    gap: 16px;
  }
}
.people-search-result {
  margin-top: 20px;
  padding: 0 20px;
  width: 100%;

  .ant-card-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }
  h3 {
    color: #1677ff;
  }
  p {
    margin: 0;
  }

  .people-search-result-header,
  .people-search-result-details {
    display: flex;
    align-items: start;
    gap: 16px;
    flex-wrap: wrap;
    .people-search-result-details-location {
      display: flex;
      flex-direction: column;
      align-items: start;
      .country-title {
        margin-left: 20px;
        font-size: 21px;
        font-weight: 300;
      }
    }
  }
}