.people-search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 0 20px;
  width: 100%;

  .people-search {
    width: 100%;
  }

  .search-input-container {
    width: 100%;
    gap: 16px;
    display: flex;
    align-items: center;
  }

  .results-info {
    margin-top: 20px;
    margin-left: 10px;
  }
}

.people-search-result-card {
  display: flex;
  margin-top: 20px;
  width: 100%;
  transition: all 0.2s ease;

  &:hover {
    background-color: #fafafa;
    border-color: #8A6AA2;
  }
}

@media (max-width: 576px) {
  .people-search-result-card {
    margin-top: 20px;
    transition: all 0.2s ease;

    &:hover {
      background: #fafafa;
      border-color: #8A6AA2;
    }
  }
}

@media (max-width: 480px) {
  .people-search-container {
    padding: 0 10px;

    .search-input-container {
      flex-direction: column;
    }
    .ant-card-body {
      padding: 10px;
    }
  }
}

@media (max-width: 420px) {
  .ant-avatar {
    flex-shrink: 0;
  }
}