.people-search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 0 20px;

  .results-info {
    margin-left: 10px;
  }

}

.people-search-input {
  display: flex;
  width: 100%;
  justify-content: start;
  align-items: center;
  gap: 16px;
  margin-bottom: 24px;
}

.people-search-result {
  display: flex;
  margin-top: 20px;
  width: 100%;
  transition: all 0.2s ease;

  &:hover {
    background: #fafafa;
    border-color: #8A6AA2;
  }

}

@media (max-width: 576px) {
  .people-search-result {
    margin-top: 20px;
    transition: all 0.2s ease;

    &:hover {
      background: #fafafa;
      border-color: #8A6AA2;
    }
  }
  .people-search-select {
    width: 40%;
    height: 32px;
  }
}
@media (max-width: 440px) {
  .people-search-container {
    align-items: center;
    .ant-typography {
      font-size: 28px;
      text-align: center;
    }
  }
  .people-search-input {
    width: 100%;
  }
  .people-search-select {
    height: 32px;
  }
  .results-info {
    .ant-typography {
      font-size: 12px;
      text-align: center;
    }
  }
}
