:root {
    --primary-color: #8B6AA2;
    --secondary-color: #FDBA3C;
}

.btn-primary {
    color: #ffffff;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-primary:hover {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}

.btn-primary.focus, .btn-primary:focus {
    color: var(--secondary-color);
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary {
    color: #ffffff !important;
    background-color: var(--secondary-color) !important;
    border-color: var(--secondary-color) !important;
}